@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');


:root{
  --Scissors: hsl(39, 89%, 49%),hsl(40, 84%, 53%);
  --Paper: hsl(230, 89%, 62%),hsl(230, 89%, 65%);
  --Rock: hsl(349, 71%, 52%),hsl(349, 70%, 56%);
  
  
  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);
  --background: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
  }



body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  // background-color: $DarkText;
  background-image: radial-gradient(circle, var(--background));
}

